body {
  background-image: url("https://drive.google.com/uc?export=download&id=1us1RH64A938mY6JuGk9OiEOX_r4MB5ig");
  font-size: 15px;
}

h1 {
  font-size: 120px;
  font-family: 'Special Elite', cursive;
  font-weight: 700;
  color: #008799;
  text-shadow: 2px 2px #343839;
  margin: 0;
}

h2 {
  font-size: 50px;
  font-family: 'Special Elite', cursive;
  color: #009eb3;
  text-shadow: 2px 2px #343839;
  margin: 0;
  justify-content: center;
}

h3 {
  font-size: 25px;
  font-family: 'Poiret One', cursive;
  color: PaleTurquoise;
  margin: 0;
}

p {
  padding-left: 30px;
  font-size: 1.4em;
  line-height: 1.7em;
  font-family: 'Poiret One', cursive;
  color: PaleTurquoise;
}

a {
  text-decoration: none;
  color: #343839;
}

.wrapper {
  display: grid;
}

/* ---------- THE NAVIGATION SECTION ---------- */

.nav {  
  position: fixed;
  top: 0;
  width: 100%;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
  grid-gap: 10px;
  margin: 5px;
  padding: 0;
  list-style: none;
}

.nav li {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.nav a {
  transition: 0.4s;
  background-color: #343839;
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  font-size: 22px;
  font-family: 'Poiret One', cursive;
  color: whitesmoke;
  text-transform: uppercase;
}

.nav a:hover {
  opacity: 0.8;
}

/* ---------- THE HEADER SECTION ---------- */

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 75px auto 75px;
  grid-gap: 20px;
  grid-template-areas:
  ". ."  
  "header-left header-right"
  
}

.header-left {
  /* display: grid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: header-left;
  /* justify-items: center; */
  /* align-content: center; */
}

.header-right {
  display: grid;
  grid-area: header-right;
  justify-items: left;
}

.header-right img {
  max-width: 70%;
  min-width: 300px;
  border-radius: 20%;
}

/* ---------- THE ABOUT SECTION ---------- */

.about {
  background: #00B4CB;
  border: 3px solid #015F6B;
  padding: 25px;
  margin: 7em;
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.devicon-html5-plain-wordmark, .devicon-css3-plain-wordmark, .devicon-javascript-plain {
  font-size: 7em;
  color: #008799;
}

.devicon-javascript-plain {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 5.5em;
  color: #008799;
}

/* ---------- THE PORTFOLIO SECTION ---------- */

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
  grid-gap: 20px;
}

.portfolio-title {
  grid-column: 1 / -1;
}

.portfolio-item {
  background: #00B4CB;
  border: 3px solid #015F6B;
  padding: 10px;
  border-radius: 10px;
  max-width: 350px;
  
}

.portfolio img {
  width: 60%;
  padding: 15px;
}

.portfolio h3 {
  color: #015F6B;
}

.portfolio p {
  color: #015F6B;
  padding: 10px;
  font-size: 1.2em;
  line-height: 1.3em;
}

/* ---------- THE CONTACT SECTION ---------- */

.contact {
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
}

.contact img {
  width: 50px;
}

/* ---------- BUTTONS ---------- */

button {
  margin: 20px;
  border: 3px solid #3a7999;
  background: #3A7999;
  color: #f2f2f2;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  /* position: relative; */
  box-sizing: border-box;
  transition: all 500ms ease;
}

button:hover {
  border: 3px dotted #3A7999;
  color: #3A7999;
  background: rgba(0,0,0,0);
}

/* ---------- RESPONSIVE ---------- */

@media screen and (max-width: 992px) {
  
  .header {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 75px auto 75px;
    grid-template-areas:
    ". ."  
    "header-left"
    "header-right" 
  }
  
  .portfolio {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .header {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 75px auto 75px;
    grid-template-areas:
    ". ."  
    "header-left"
    "header-right"  
  }
  
  .portfolio {
    grid-template-columns: 1fr 1fr;
  }

  .portfolio-item {
    max-width: 250px;
  }
}